// Colors
$c-white: #ffffff;
$c-black: #000000;
$c-gary: #7c7c7c;

$c-brand: #8c3eae;

$c-accent: #304e91;

$c-text: #4b4b4b;

$c-error: red;

$c-main-bg: #f2f6fa;

$c-border: #dedede;
$c-disabled: #f3f3f3;
